@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700;800&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
.light-theme {
  --main-bg: #e7e5e4;
  --card-bg: #fafaf9;
  --title: #292524;
  --shadow: #d6d3d1;
  --links: #44403c;
  --links-hover:#292524;
  --tags-color:#fafaf9;
  --tags-bg:#78716c;
}

.dark-theme {
  --main-bg: #292524;
  --card-bg: #1c1917;
  --title: #f5f5f4;
  --shadow: #44403c;
  --links:#d6d3d1;
  --links-hover:#f5f5f4;
  --tags-color:#44403c;
  --tags-bg:#d6d3d1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Mukta", sans-serif;
  background-color: var(--main-bg);
  line-height: 1.5;
}

button {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: $stone-900;
}

li {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}