.pagination {
    padding: 2rem 0;
    
    &__box {
        padding: 1rem;
        max-width: $md;
        margin: auto;
        @include flex(row);
        align-items: center;
        justify-content: center;
        gap: 2rem;

        & > button {
            font-size: .95rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $stone-700;
        }
    }

    &__numbers {
        @include flex(row);
        flex-wrap: wrap;
        gap: 1rem;

        & > button {
            border-radius: 5px;
            font-size: .95rem;
            font-weight: 500;

            &.active {
                background-color: $stone-500;
                color: $stone-100;
            }
        }
    }
}

@include rwd($md) {
    .pagination {

        &__box {
            padding: 0;
        }
    }
}